@media (min-width 0) 
    .news-blog
        background url('../images/bg.jpg')
        
        &__item
            text-align center
            padding 10px
            margin-left 15px
            background url(../images/sticker-1.png)
            background-size 100% 100%
            
            margin-top 20px
@media (min-width 768px)
    .horizontal-line 
        height 10px
        background #000000
    .news-blog
        background url('../images/bg.jpg')
        
        &__item
            text-align center
            padding 10px
            background url(../images/sticker-1.png)
            background-size 100% 100%
            
            margin-top 20px
@media (min-width 1200px)
    .news-blog
        background url('../images/bg.jpg')
        
        &__item
            text-align center
            padding 10px
            background url(../images/sticker-1.png)
            background-size 100% 100%
            
            margin-top 20px           