.page-header
    .container
        .row
            .page-header__menu.col-xs-3.col-sm-3
                a.toggle-button Меню
            .page-header-title.col-xs-9.col-sm-9
                h1.page-header__title Смета 2016