header
    .container
        .row
            .page-header
                //Доделать баннер 
                .page-header__banner.col-xs-12
                    h1.page-header__banner-title 
                              
                                                    
