@media (min-width 0px)
    .page-header
        font-family 'Lobster', cursive
        background #413F3A 
        &__menu
            margin-top 30px
            text-align center
        &__title
            text-align center
            color #ffffff             
@media (min-width 768px)
    .page-header
        background url('../images/day_pano.jpg') 
        background-size 100% 100%
        min-height 120px 
        &__menu
            margin-left 0px
            margin-top 20px
        &__title
            margin-left -15%
            color #000000       