nav#menu.menu
    .nav-header
        h1.nav-header__title Навигация
                                 //Доделать меню
     nav.page-header__nav#navigation            
        ul.page-header__nav-list
            li.page-header__nav-list-item
                
                
                a(href="") Главная
                    br
                    img.nav-img(src="images/newspaper.png"  alt="alt" height="50px" width="50px") 
            
            li.page-header__nav-list-item
                
                a(href="avaria.html") Службы
                    br
                    img.nav-img(src="images/siren.png"  alt="alt" height="50px" width="50px")     
               
            li.page-header__nav-list-item
                
                a(href="")  Тарифы
                    br
                    img.nav-img(src="images/money.png"  alt="alt" height="50px" width="50px")
            
            li.page-header__nav-list-item
                
                a.accordion#link   Услуги
                    br
                    img.nav-img(src="images/telemarketer.png"  alt="alt" height="50px" width="50px")
                    
                    ul.page-header__nav-sublist.content
                        li.page-header__nav-sublist-item
                            a(href="#") Паспортный стол
                        li.page-header__nav-sublist-item
                            a(href="#") Качество услуг
                        li.page-header__nav-sublist-item
                            a(href="#") Бесплатные услуги
                        li.page-header__nav-sublist-item
                            a(href="#") Поставщики ком.услуг                                                                                        
            
            li.page-header__nav-list-item
                
                a.accordion#link   Библиотека
                    br
                    img.nav-img(src="images/book.png"  alt="alt" height="50px" width="50px")
                    
                    ul.page-header__nav-sublist.content
                        li.page-header__nav-sublist-item
                            a(href="#") Справка
                        li.page-header__nav-sublist-item
                            a(href="#") Жилищный кодекс
                        li.page-header__nav-sublist-item
                            a(href="#") Постановление
                        li.page-header__nav-sublist-item
                            a(href="#") Федеральные законы
            li.page-header__nav-list-item
                
                a.accordion#link   ТСЖ
                    br
                    img.nav-img(src="images/team.png"  alt="alt" height="50px" width="50px")
                    ul.page-header__nav-sublist.content
                        li.page-header__nav-sublist-item
                            a(href="#") Правление ТСЖ
                        li.page-header__nav-sublist-item
                            a(href="#") Устав ТСЖ
                        li.page-header__nav-sublist-item
                            a(href="#") Регистрация ТСЖ
                        li.page-header__nav-sublist-item
                            a(href="#") Договор управления 

                        li.page-header__nav-sublist-item
                            a(href="#") Смета на сод. дома
                        li.page-header__nav-sublist-item
                            a(href="#") Отчет 2015
                        li.page-header__nav-sublist-item
                            a(href="#") Фото
                        li.page-header__nav-sublist-item
                            a(href="#") Штатное расписание
                        li.page-header__nav-sublist-item
                            a(href="#") План работ
            li.page-header__nav-list-item
                
                a(href="") Вопрос-Ответ 
                    br
                    img.nav-img(src="images/people.png"  alt="alt" height="50px" width="50px")                                                  