nav#menu.menu
    .nav-header
        h2 Навигация
                                 //Доделать меню
     nav.page-header__nav.col-xs-12             
        ul.page-header__nav-list
            li.page-header__nav-list-item
                a(href="") Главная 
            
            li.page-header__nav-list-item
                a(href="") Службы     
               
            li.page-header__nav-list-item
                a(href="")  Тарифы
            
            li.page-header__nav-list-item
                a(href="")   Услуги
                    
                    ul.page-header__nav-sublist
                        li.page-header__nav-sublist-item
                            a.class(href="#") Паспортный стол
                        li.page-header__nav-sublist-item
                            a.class(href="#") Качество услуг
                        li.page-header__nav-sublist-item
                            a.class(href="#") Бесплатные услуги
                        li.page-header__nav-sublist-item
                            a.class(href="#") Поставщики ком.услуг                                                                                        
            
            li.page-header__nav-list-item
                a(href="")   Библиотека
                    
                    ul.page-header__nav-sublist
                        li.page-header__nav-sublist-item
                            a.class(href="#") Справка
                        li.page-header__nav-sublist-item
                            a.class(href="#") Жилищный кодекс
                        li.page-header__nav-sublist-item
                            a.class(href="#") Постановление
                        li.page-header__nav-sublist-item
                            a.class(href="#") Федеральные законы
            li.page-header__nav-list-item
                a(href="")   ТСЖ
                    ul.page-header__nav-sublist
                        li.page-header__nav-sublist-item
                            a.class(href="#") Правление ТСЖ
                        li.page-header__nav-sublist-item
                            a.class(href="#") Устав ТСЖ
                        li.page-header__nav-sublist-item
                            a.class(href="#") Регистрация ТСЖ
                        li.page-header__nav-sublist-item
                            a.class(href="#") Договор управления 
                    ul.page-header__nav-sublist
                        li.page-header__nav-sublist-item
                            a.class(href="#") Смета на сод. дома
                        li.page-header__nav-sublist-item
                            a.class(href="#") Отчет 2015
                        li.page-header__nav-sublist-item
                            a.class(href="#") Фото
                        li.page-header__nav-sublist-item
                            a.class(href="#") Штатное расписание
                        li.page-header__nav-sublist-item
                            a.class(href="#") План работ
            li.page-header__nav-list-item
                a(href="") Вопрос-Ответ                                                   