head
    meta(charset='UTF-8')
    title ТСЖ Комсомольский
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="css/style.css", rel="stylesheet")
    link(href="css/index.css")
    link(href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js")
    
