doctype html
html(lang='ru')
    include blocks/head.jade
    body
        include blocks/nav/nav.jade
        main.panel#panel
            a.toggle-button МЕНЮ
                
            include blocks/page-header/page-header.jade
        include blocks/bottom.jade
       
    

