doctype html
html(lang='ru')
    include blocks/head.jade
    body
        include blocks/nav/nav.jade
        main.panel#panel
            
                
            include blocks/page-header/page-header-photo.jade
        include blocks/bottom.jade
       
    

